*{
  box-sizing: border-box;
}

a{
  color: white;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #000;
  min-height: 127px;
  height: 12vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-link {
  color: #61dafb;
}

.container{
  width:80%;
  /* border: 1px solid red; */
}

.nav{
  display: flex;
  /* border: 1px solid yellow; */
  align-items: center;
  justify-content: space-between;
  padding: 0 1em;
  color: white;
  font-size: 1.65rem;
  width:100%;
}

.navList{
  list-style: none;
  text-decoration: underline;
  display: flex;
  /* border: 1px solid lightgreen; */
  align-items: center;
  padding:0;
}

.navItem{
  /* border: 1px solid blue; */
}

.routes{
  margin: 0 auto;
}

.routes .navItem + .navItem{
  margin-left: 1em;
}

.contacts{
  /* margin-left: auto; */
  display:flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.25rem;
}

.contacts .navItem{
  padding: 0.25em 0;
}

.commission{
  padding:0.25em 0.75em;
  background: white;
  border-radius: 10px;
}

.commission a{
  color: black;
}

.hero{
  width:100%;
  height:50%;
  /* border: 1px solid blue; */
}

.slide-container{
  /* border: 2px solid blue; */
  height: 90vh;
}

.each-fade{
  width:100%;
  height: calc(100vh - 127px);
  /* border: 1px solid yellow; */
}

.image-container {
  width: 100%;
  /* border: 1px solid red; */
}

.sliderBackground{
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.overlay{
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
  background:rgba(0,0,0,0.8);
  color:white;
  margin: auto;
  z-index:1;
  display:flex;
  align-items: center;
}

.heroText {
  margin: 0 auto;
  text-align: center;
}

.heroTitle{
  font-size: 4rem;
  margin:0;
  text-shadow: 3px 2px 3px rgb(122, 122, 122);
}

.heroSubtitle{
  font-size: 2rem;
  margin:0;
}